.sidebarclass{
    height: 200px;
    border: 1px solid red;
    margin-bottom: 20px;
    padding: 10px;
}

.listofsongclass{
    height: 500px;
    border: 1px solid green;
    padding: 10px;
}