<!-- <p>
  eventbinding works!
</p>

<button (click)="onclick()"> Apply Event Binding </button> 
{{name}} <br>

<br>
<button (click)="onclick1()">Using Property Binding</button><br><br>
<input type="text" [value]="name2"> <br><br>

<button  (click)="mysquare=2*2" > Without Method we can Process data </button>
<br>
{{mysquare}} <br><br>


<button  (click)="mysquare1=num1*num2" > Dynamic Without Method we can Process data </button>
<br>
{{mysquare1}} <br><br>


<button (click)="clickMe($event)" > Click Me </button><br><br>

<button (click)="clickMe1($event)" value="Click Me 1" > Click Me 1</button> <br>
<hr>

<input type="text" (change)="onchange()" > <br><br>

<input type="text" (change)="onchange1()" [style.background]="backcolor"> <br><br>

<button (click)="OnClickCount()">Click Count</button> -->

<input type="text" (keyup)="onkeyup()" placeholder="Enter the Text...."> 
{{dispMSG}}
<br><br>

<input type="text" (keydown)="onkeyDown()" placeholder="Enter the text !!!!!">
{{dispMSG1}}
<br><br><br>

<button (click)="onRed()">Red</button>
<button (click)="onGreen()">Green</button>
<button (click)="onBlue()">Blue</button>
<button (click)="onYellow()">yellow</button>
<br><br><br>

<div [style.background]="mycolor">

</div> 


<br><br><br>

<button (click)="oncolorchange('red')">Red</button>
<button (click)="oncolorchange('green')">Green</button>
<button (click)="oncolorchange('blue')">Blue</button>
<button (click)="oncolorchange('yellow')">yellow</button>
<br><br><br>

<div [style.background]="mycolor1">

</div>





