<p>
  stringinterpolation works!
</p>

<h1> {{2+2}} </h1>

<h1> {{ "2+2"  }} </h1>

<div> {{name}} </div>

<input type="text" placeholder="Enter the name"><br>
<input type="text" placeholder="Enter the name" value=" {{name}} " >

<div> {{getname()}} </div>

<ul>
  <li>
    {{name.toUpperCase()}}
  </li>
</ul>


<img src="../../assets/Desert.jpg" alt=""><br>
<img src=" {{imgurl}} " alt="" id="myimg"> <br>

<div class="myclass" > Hopes so U R Enjoying!!!!! </div><br><br>

<div> {{name + " Hi Welcome"}} </div>










<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>